{% extends "linguilearn/layout.html" %}
{% load static %}

{% block body %}
	{% if user.is_authenticated %}

	<input id="requestUsername" type="text" placeholder="Username" />
	<button id="submitRequest">Search</button>
	<button id="cancelRequest">Cancel</button>


	<section>
		<div class="newPost">
			<textarea class="newPost__input" placeholder="What is happening..."></textarea>
			<button class="btn btn-primary  btn-block newPost__submit">Post</button>
		</div>
	</section>


	<section id="profile__component"></section>
	{% endif %}


	<section class="bg-light">
		<div id="pagination"></div>
		<div id="posts__component"></div>
	</section>
	
	<div id="error__component"></div>


	<input type="text" id="searchForUserInput" placeholder="username or email" />
	<button id="searchForUserButton">Search</button>





{% endblock %}

{% block script %}
	<script src="{% static 'linguilearn/linguilearn.jsx' %}" type="text/jsx"></script>
{% endblock %}