{% extends "linguilearn/layout.html" %}
{% load static %}

{% block body %}
	{% if user.is_authenticated %}


	<div id="app">
	</div>

	


	<section id="profile__component"></section>
	{% endif %}


	<section class="bg-light">
		<div id="pagination"></div>
		<div id="posts__component"></div>
	</section>
	
	<div id="message__component"></div>

	<div id="userSearchList__component"></div>





{% endblock %}

{% block script %}
	<script src="{% static 'linguilearn/utils.jsx' %}" type="text/jsx"></script>
	<script src="{% static 'linguilearn/dash-components.jsx' %}" type="text/jsx"></script>
	<script src="{% static 'linguilearn/linguilearn.jsx' %}" type="text/jsx"></script>
{% endblock %}