/* GLOBAL VAIRABLES */
// https://colorhunt.co/palette/118962
// $cBackground: #283149
$cBackground: #dbedf3
$cText: #283149
$pink: #f1129c
$orange: #fbb02d
$greyTeal: #364b59

p, h1, h2, h3, h4, h5, h6
	margin: 0px

a
	cursor: pointer


/* Layout / typography */
body 
	background-color: $cBackground
	color: $cText
	width: 100vw
	height: 100vh

// p, h1, h2, h3, h4, h5, h6
p
	margin-top: 0.25rem
	margin-bottom: 0.25rem
	// font-size: 12px

.body
	display: inline-flex
	flex-direction: row
	flex-wrap: wrap
	border: 3px solid black
	justify-content: center
	width: 100vw
	margin: auto

.view__side
	border: 1px solid pink
	width: 320px
	// padding: 1rem
	display: flex
	flex-direction: column

.view__main
	border: 1px solid red
	width: 100%
	max-width: 1024px

/* UTILITIES */
.flex
	display: flex
	justify-content: flex-start
	align-items: center

/* COMPONENTS */
.button
	display: inline-block !important
	background-color: pink

.entry
	border: 1px solid white
	padding: 1rem
	&__item
		border: 1px solid white
		padding: 0.5rem
		margin: 0.5rem
		background-color: white

.modal
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	width: 100vw
	height: 100vh
	background-color: rgba(black, 0.6)
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	z-index: 50
	&__content
		padding: 50px
		min-width: 256px
		max-width: 360px
		padding: 2rem 1rem
		border-radius: 12px
		background-color: blue
		color: rgba(white, 0.8)
		z-index: 100
		p
			margin-bottom: 1rem
			font-size: 24px
			font-weight: 200


.searchForm
	display: flex
	flex-direction: row
	align-items: center
	padding: 0.6rem


.sideBar
	border: 1px solid blue
	min-width: 280px
	max-width: 1024px
	padding: 0.6rem

.wordGrid
	display: flex
	// justify-content: space-around
	&__item
		padding: 0.3rem 1rem
		margin: 0.6rem
		background-color: white
		border: 1px solid grey
		border-radius: 3px
		cursor: pointer
		transition: all 0.3s
		&:hover
			opacity: 0.3
			color: white
			background-color: grey

	
.navTabs
	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: space-around
	&__item
		border-bottom: 4px solid pink
		color: #77aaee
		padding: 0.2rem 0.2rem
		text-decoration: none
		margin-left: 0.4rem
		margin-right: 0.4rem
		margin-bottom: 0.2rem



@media only screen and (max-width: 1300px)
	// .view
	// 	width: auto

	.view__side
		width: 100%
	.navTabs
		// width: 100%
		flex-direction: row








