.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 50;
}
.modal__content {
  padding: 50px;
  min-width: 256px;
  max-width: 360px;
  padding: 2rem 1rem;
  border-radius: 12px;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.modal__content p {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 200;
}